html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font_text;
  color: $primary_color;
}

a {
  text-decoration: none;
  color: $attention_color;
  display: inline-block;
  border-bottom: 1px solid $attention_color;

  &:hover {
    border-bottom: 1px solid $secondary_color;
  }
}
