$font_text: "Toyota Text", "Arial", sans-serif;
$font_display: "Toyota Display", "Arial", sans-serif;
$primary_color: #333333;
$secondary_color: #ffffff;
$attention_color: #e50000;
$section_color: #f0f0f0;
