.button {
  font-family: $font_display;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: $secondary_color;
  background-color: $attention_color;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }

  &:focus {
  }

}
