.car {
  &__wrapper {
    text-align: center;
  }

  &__container {
    margin-bottom: 20px;
  }

  &__title-section {
    margin-bottom: 40px;
  }

  &__image {
    display: block;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10px;
    padding-left: 10px;
  }

  &__link {
    position: relative;
    display: inline-block;
    font-family: $font_display;
    font-size: 16px;
    line-height: 25px;
    font-weight: normal;
    text-align: center;
    color: $attention_color;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 12px;
      z-index: 30;
      width: 16px;
      height: 2px;
      background-color: $attention_color;
    }

    &::before {
      transform: rotate(-45deg);
      box-shadow: none;
      left: 124px;
    }

    &::after {
      transform: rotate(45deg);
      left: 114px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font_display;
    font-size: 20px;
    line-height: 34px;
    font-weight: bold;
  }

  &__description {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 18px;
    padding-bottom: 26px;
    text-align: left;
    background-color: #f6f6f6;
  }

  &__button {
    display: block;
    width: 245px;
    margin-left: auto;
    margin-right: auto;
  }

  &__text {
    margin-top: 8px;
    margin-bottom: 8px;
    font-family: $font_text;
    font-size: 16px;  //18
    line-height: 26px;
    font-weight: normal;
    color: $primary_color;

    &_bold {
      font-family: $font_display;
      font-size: 12px;
      line-height: 23px;
      font-weight: bold;
      text-transform: uppercase;
    }

    &_red {
      font-family: $font_display;
      font-size: 18px;
      line-height: 32px;
      font-weight: bold;
      color: $attention_color;
      vertical-align: baseline;
    }

    &_detail {
      margin-bottom: 20px;
      font-family: $font_display;
      font-size: 12px;
      line-height: 24px;
      font-weight: normal;
      opacity: 0.7;
    }

    &_tel {
      font-family: $font_text;
      font-size: 16px;
      line-height: 23px;
      font-weight: bold;
      color: $primary_color;
      border: none;
      &:hover {
        border: none;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .car {
    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__image {
      align-self: center;
      width: 35%;
    }

    &__description {
      display: flex;
      justify-content: space-around;
      width: 62%;
    }

    &__text {
      font-size: 16px;

      &_red {
        font-size: 20px;
        line-height: 34px;
      }
    }

    &__info {

      &_right {
        margin-top: 17px;
        margin-right: -6px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .car {

    &__container {
      padding-left: 34px;
      margin-bottom: 7px;
    }

    &__title-section {
      margin-bottom: 60px;
      margin-top: -3px;
    }

    &__description {
      margin-right: 0;
      padding-left: 24px;
      margin-left: 61px;
      margin-bottom: 30px;
      justify-content: space-between;
    }

    .car__info_right {
      margin-right: 8px;
    }

    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 18px;

      &_bold {
        font-size: 14px;
      }

      &_red {
        font-size: 24px;
      }

      &_detail {
        font-size: 16px;
        margin-bottom: 26px;
        margin-top: 14px;
      }

      &_tel {
        font-size: 18px;
      }

    }
  }
}
