.contact {
  &__map {
    background-image: url('../img/map-mobile.jpg');
    min-height: 191px;
    background-repeat: no-repeat;
    background-size: 100%;
  }
}

@media (min-width: $tablet-width) {

  .contact {

    &__map {
      background-image: url('../img/map-tablet.jpg');
      min-height: 301px;
    }

  }

}



@media (min-width: $desktop-width) {

  .contact {

    &__map {
      background-image: url('../img/map.jpg');
      min-height: 400px;
    }

    &__title-section {
      margin-top: 82px;
      margin-bottom: 67px;
    }

  }

}

