.condition {
  background-color: $section_color;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 26px;

  &__button {
    border-radius: 2px;
    width: 48px;
    height: 48px;
    padding-left: 0;
    padding-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-bottom: 30px;
    margin-top: 10px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 21px;
      z-index: 30;
      width: 16px;
      height: 3px;
      background-color: $secondary-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
      left: 20px;
    }

    &::after {
      transform: rotate(-45deg);
      left: 10px;
    }
  }

  &__title {
    display: inline-block;
    font-family: $font_display;
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    color: $attention_color;
    position: relative;
    border: none;
    &:hover {
      border: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 12px;
      z-index: 30;
      width: 16px;
      height: 2px;
      background-color: $attention_color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
      left: 147px;
    }

    &::after {
      transform: rotate(-45deg);
      left: 137px;
    }

  }

  &__text {
    font-family: $font_text;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 13px;
  }

  &__link {
    color: $primary_color;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: #626262;
    }

    &:focus {
     color: #626262;
    }
  }
}

@media (min-width: $desktop-width) {
  .condition {
    &__button {
      margin-bottom: 57px;
    }

    &__title {
      margin-bottom: 14px;
    }
  }
}
