.feature {
  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font_display;
    font-size: 10px;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: -4px;
      left: 0;
      z-index: 30;
      width: 48px;
      height: 2px;
      background-color: $primary_color;
      opacity: 0.5;
    }
  }

  &__text {
    margin-top: 0;
    margin-bottom: 0;
    font-family: $font_display;
    font-size: 22px;
    line-height: 35px;
    font-weight: bold;
    text-transform: uppercase;
  }

}

@media (min-width: $tablet-width) {
  .feature {
    &__title {
      font-size: 10px;
      line-height: 15px;
    }

    &__text {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (min-width: $desktop-width) {
  .feature {
    &__title {
      font-size: 12px;
      line-height: 20px;
    }

    &__text {
      font-size: 33px;
      line-height: 41px;
      margin-bottom: -13px;
    }
  }
}
