.footer {
  padding-left: 10px;
  padding-right: 10px;
  background-color: $footer_color;
  &__text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: $font_text;
    font-size: 14px;
    font-weight: normal;
    line-height: 32px;
    opacity: 0.5;
  }
}
