.menu {
  box-shadow: 0 4px 4px -4px rgba(0,0,0,0.1);

  &__list {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }

  &__link {
    font-family: $font_display;
    font-size: 18px;
    line-height: 85px;
    font-weight: bold;
    color: inherit;
    border: none;
    &:hover {
      border: none;
    }
  }

  &__item {
    &:hover {
      background-color: $attention_color;
      color: $secondary_color;
    }
  }

}



