.modal {
  display: none;
  position: fixed;
  top: 40px;
  left: 50%;
  width: 80%;
  z-index: 100;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $secondary_color;
  border-radius: 4px;
  text-align: center;
  transform: translateX(-50%);

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 40px;
    height: 40px;
    background: transparent;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 11px;
      left: 19px;
      z-index: 30;
      width: 13px;
      height: 1px;
      opacity: 0.3;
      background-color: $primary-color;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__title {
    position: relative;
    margin-bottom: 44px;
    font-family: $font_display;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 40px;
      left: 50%;
      z-index: 30;
      width: 80px;
      height: 2px;
      transform: translateX(-50%);
      background-color: $attention-color;
    }
  }

  &__text {
    font-family: $font_text;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
  }

  &__group {
    border: none;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    font-family: $font_text;
    font-size: 14px;
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    color: $input_color;
    border: 1px solid $input_color;

    &_car {
      display: block;
      width: 65%;
    }

    &_year {
      display: block;
      width: 30%;
    }

    &:hover, &:active, &:focus {
      box-shadow: 0px 2px 16.2px 2.8px rgba(0,0,0,0.1);
      outline: none;
    }
  }

  &__agreement-wrapper {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__link {
    margin-bottom: 40px;
    font-size: 12px;
  }

  &__label {
    position: relative;
    margin-bottom: 40px;
    padding-left: 10px;
    font-size: 12px;
    user-select: none;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -2px;
      left: -13px;
      width: 20px;
      height: 20px;
      background-image: url('../img/sprite.png');
      background-position-x: -26px;
      background-position-y: 0;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__checkbox:checked + &__label::before {
    background-position-x: -2px;
    background-position-y: 0;
  }

  &__button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}

@media (min-width: $tablet-width) {
  .modal {
     width: 50%;

    &__title {
      font-size: 20px;
    }

    &__text {
      font-size: 16px;
    }

    &__label, &__link {
      font-size: 14px;
    }
  }

}

@media (min-width: $desktop-width) {
  .modal {
    width: 27%;

    &__title {
      font-size: 24px;
    }

    &__text {
      font-size: 18px;
    }
  }
}
