.offer {
  padding-top: 20px;
  padding-bottom: 55px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: $section_color;

  &__text {
    font-family: $font_text;
    font-size: 18px;
    line-height: 32px;
    font-weight: normal;
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .offer {
    &__text {
      font-size: 20px;
    }

  }
}

@media (min-width: $desktop-width) {
  .offer {
    &__title-section {
      margin-top: 4px;
    }

    &__text {
      font-size: 24px;
    }
  }
}
