.page {
  &__container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  &__hero-section {
    margin-bottom: 80px;
  }

  &__title-section {
    text-align: center;
    font-family: $font_display;
    font-size: 32px;
    line-height: 45px;
    font-weight: bold;
  }
}
