.profit {
  background-color: $primary_color;

  &__list {
    list-style: none;
    //display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }

  &__item {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;

    color: $secondary_color;
    &:hover {
      background-color: $attention_color;
    }
  }

  &__number {
    font-family: $font_display;
    font-size: 50px;
    line-height: 0px;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  &__title {
    font-family: $font_display;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    display: inline-block;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

  }

  &__text {
    font-family: $font_text;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .profit {
    &__list {
      display: flex;
    }

  }

}
