.request {
  display: flex;
  justify-content: center;

  &__fieldset {
    border: none;
  }

  &__email::placeholder {
    font-family: $font_display;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    opacity: 0.7;
  }
}
