.request {
  display: flex;
  justify-content: center;

  &__fieldset {
    border: none;
  }

  &__tel {
    display: block;
    width: 245px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: $font_display;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    border-radius: 40px;
    border-width: 1px;
    border-style: none;
    box-shadow: 0px 1px 3.2px 0.8px rgba(0, 0, 0, 0.1);

    &:hover, &:active, &:focus {
      box-shadow: 0px 2px 16.2px 2.8px rgba(0,0,0,0.1);
      outline: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .request {
    &__tel {
      display: inline-block;
      width: 345px;
      position: relative;
      left: 39px;
    }

    &__button {
      z-index: 2;
      position: relative;
    }
  }
}

@media (min-width: $desktop-width) {
  .request {
    &__tel {
      width: 458px;
    }

    &__button {
      left: -27px;
    }
  }
}
