.hero {
  &__wrapper {
    display: flex;
  }

  &__block {

    &_image {
      position: relative;
    }
  }

  &__image {
    // max-width: 100%;
    // height: auto;
    width: 900px;
    position: absolute;
    top: 0;
    left: 320px;
  }

  &__unique-price {
    position: absolute;
    top: 0;
    width: 200px;
    z-index: 1;
  }

  &__link {
    display: block;
  }


}
