@font-face {
  font-family: "Toyota Text";
  src: url("../toyota-text/Toyota-Text-Regular.eot");
  src: url("../toyota-text/Toyota-Text-Regular.eot?iefix") format('embedded-opentype'),
       url("../toyota-text/Toyota-Text-Regular.ttf") format("truetype"),
       url("../toyota-text/Toyota-Text-Regular.woff") format("woff"),
       url("../toyota-text/Toyota-Text-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Toyota Text";
  src: url("../toyota-text/Toyota-Text-Bold.eot");
  src: url("../toyota-text/Toyota-Text-Bold.eot?iefix") format('embedded-opentype'),
       url("../toyota-text/Toyota-Text-Bold.ttf") format("truetype"),
       url("../toyota-text/Toyota-Text-Bold.woff") format("woff"),
       url("../toyota-text/Toyota-Text-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
